<div class="double-border"></div>
<!-- Start Footer -->
    <footer class="site-footer site-top-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6 footer-widget widget text_widget">
                  <h4 class="widgettitle">Why We Developed HomeHub</h4>
                    <p style="color: #000 !important;">Home Hub is an application which was developed with an objective of linking charitable organizations with volunteers.</p>
                </div>
              <div class="col-md-3 col-sm-6 footer-widget widget instafeed_widget">
                  <h4 class="widgettitle">Instagram Gallery</h4>
                    <ul style="color: #000 !important;" id="insta-widget" class="clearfix"></ul>
                </div>
              <div class="col-md-3 col-sm-6 footer-widget widget twitter_widget">
                  <h4 class="widgettitle">Twitter Feeds</h4>
                    <div class="twitter-widget" data-tweets-count="1"></div>
                </div>
              <div class="col-md-3 col-sm-6 footer-widget widget text_widget">
                  <h4 class="widgettitle">Our Location</h4>
                    <p style="color: #000 !important;">Reliable Towers 5th Floor Wing B, Mogotio Rd Westlands<br>Nairobi Kenya</p>
          <p style="color: #000 !important;"><strong>Contact</strong><br><a href="mailto:help@idonatekenya.org">help@idonatekenya.org</a><br>+(254) 722957776</p>
                </div>
            </div>
        </div>
    </footer>
    <footer class="site-footer site-bottom-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <p>&copy; 2017-2018 Home Hub Application - IDonate Kenya</p>
                </div>
              <div class="col-md-8 col-sm-8">
                  <ul class="footer-nav">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="{% url 'developers' %}">Contribute</a></li>
                      <li><a href="donate.html">Donate</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->