<nav class="main-navigation">
  <ul class="sf-menu">
      <li><a href="{% url 'home' %}" >Home</a></li>
      <li><a href="#">Who We Are</a>
        <ul>
          <li ><a href="{% url 'about' %}">Our Story</a></li>
          <li><a href="{% url 'team' %}">Management Team</a></li>
          <li><a href="{% url 'developers' %}">Home Hub Developers</a></li>
        </ul>
      </li>
      <li><a href="http://idonatekenya.org">How it works</a>
        <ul>
          <li><a href="#">For Volunteers</a></li>
          <li><a href="#">For Organizations</a></li>
        </ul>
      </li>
      <li><a href="http://idonatekenya.org">Visit Idonate Kenya</a></li>
      <li><a href="http://idonatekenya.org">Events</a>
      <ul>
          <li><a href="#">For Volunteers</a></li>
          <li><a href="#">For Organizations</a></li>
        </ul></li>
      <li><a href="http://idonatekenya.org">Our Partners</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</nav>
<!-- Mobile Menu Trigger Icon -->
<a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
</div>
</div>
</header>