<div class="page-header" style="background-image:url(../media/front.jpg); margin-top: 55px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 125px;">
        <div class="col-md-12 sidebar right-sidebar">
          <div class="widget sidebar-widget search-form-widget">
            <form method="GET" action="" >
              <div class="input-group input-group-lg">
                <input type="text" name="q" class="form-control" value="{{ request.GET.q }}" placeholder="Search Homes...">
                <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="fa fa-search fa-lg"></i> Find a Home</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="double-border"></div>